/* Style sheet
   color picker www.w3schools.com/colors/colors_picker.asp
*/

html {
  	background-color: #eeffff;
}
 
body {
	background-color: #99ffff;
	width: 60%;
  	align: center;
	border: 3px solid #001433;
	border-radius: 25px;
 	padding: 0px 20px 20px 20px;
}

h1 {
	font-size: 60px;
	text-align: center;
	margin: 0;
	padding: 20px 0;
	color: #002966; 
	text-shadow: 3px 3px 1px black;
}

h2 {
	font-size: 30px;
	text-align: center;
	margin: 0;
	padding: 10px 0;
	color: #002966; 
}

h3 {
	font-size: 20px;
	text-align: center;
	margin: 0;
	padding: 10px 0;
	color: #002966; 
}

/* Defining styling for a specific element type - each question */
.question {
  color: black;
  margin: 20px;
  padding: 20px;
  align: center;
}

/* Defining styling for a specific element type - each answer */
.reponse {
  color: black;
  font-size: 20px;
  margin: 20px;
  padding: 20px;
}
