/* Style sheet
   color picker www.w3schools.com/colors/colors_picker.asp
*/

html {
  	background-color: #b3ffff;
}
 
body {
	width: 80%;
  	margin: auto;
 	padding: 20px 20px 20px 20px;
}

h1 {
	font-size: 60px;
	font-family: Arial;
	text-align: center;
	margin: 0;
	padding: 20px 0;
	color: #002966; 
}

h2 {
	font-size: 30px;
	text-align: center;
	margin: 0;
	padding: 10px 0;
	color: #002966; 
}

h3 {
	font-size: 20px;
	text-align: center;
	margin: 0;
	padding: 10px 0;
	color: #002966; 
}

/* Defining styling for a specific element type - each question */
.question {
	background-color: #ffffff;
	color: black;
	border-radius: 25px;
  	margin: 20px;
  	padding: 20px;
  	align: center;
}
