/* Style sheet
   color picker www.w3schools.com/colors/colors_picker.asp
*/

html {
  	background-color: #b3ffff;
}
 
body {
	width: 80%;
  	margin: auto;
 	padding: 20px 20px 20px 20px;
}

h1 {
	font-size: 60px;
	font-family: Arial;
	text-align: center;
	margin: 0;
	padding: 20px 0;
	color: #002966; 
}

h2 {
	font-size: 30px;
	font-family: Arial;
	text-align: center;
	margin: 0;
	padding: 10px 0;
	color: #002966; 
}

h3 {
	font-size: 20px;
	font-family: Arial;
	text-align: center;
	margin: 0;
	padding: 10px 0;
	color: #002966; 
}

input[type=text] {
  border: none;
  border-bottom: 2px solid red;
}

/* Likert styles*/
form .likert {
  list-style:none;
  width:100%;
  margin:0;
  padding:0 0 35px;
  display:block;
  border-bottom:2px solid #efefef;
}
form .likert:last-of-type {border-bottom:0;}
form .likert:before {
  content: '';
  position:relative;
  top:11px;
  left:9.5%;
  display:block;
  background-color:#efefef;
  height:4px;
  width:78%;
}
form .likert li {
  display:inline-block;
  width:19%;
  text-align:center;
  vertical-align: top;
}
form .likert li input[type=radio] {
  display:block;
  position:relative;
  top:0;
  left:50%;
  margin-left:-6px;
  
}
form .likert li label {width:100%;}


/* Defining styling for a specific element type - each question */
.question {
	font-family: Arial;
	background-color: white;
	color: black;
	border-radius: 10px;
  	margin: 20px;
  	padding: 20px;
  	align: center;
}
